body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    background-color: #282c34;
    color: white;
    padding: 20px;
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
    background: white;
    border-radius: 10px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #282c34;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

ul {
    list-style: square;
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #282c34;
    color: white;
    margin-top: 20px;
}
